footer.footer 
    .brand-area
    .shop-method-area 
        .container 
            .row 
                .col-lg-3.col-6.my-2
                    .method-item 
                        .inner-img 
                            img(src="/client/images/time-zone-footer-1.svg")
                        h4.inner-title Sản phẩm chất lượng
                .col-lg-3.col-6.my-2
                    .method-item 
                        .inner-img 
                            img(src="/client/images/time-zone-footer-2.svg")
                        h4.inner-title Dịch vụ chuyên nghiệp
                .col-lg-3.col-6.my-2
                    .method-item 
                        .inner-img 
                            img(src="/client/images/time-zone-footer-3.svg")
                        h4.inner-title Giao hàng toàn quốc
                .col-lg-3.col-6.my-2
                    .method-item 
                        .inner-img 
                            img(src="/client/images/time-zone-footer-4.svg")
                        h4.inner-title Miễn phí bảo hành
    .footer-content 
        .container 
            .row 
                .col-md-3.col-6.my-2
                    .inner-img 
                        img(src="/client/images/logo.png.webp")
                    .inner-desc Công ty TimeZone chuyên về các mặt hàng đồng hồ 
                .col-md-3.col-6.my-2
                    .item 
                        h5 Về chúng tôi 
                        p Giới thiệu công ty
                        p Hệ thống cửa hàng
                        p Tuyển dụng
                .col-md-3.col-6.my-2
                    .item 
                        h5 Chăm sóc khách hàng
                        p Chính sách bảo hành 
                        p Chính sách đổi trả sản phẩm
                        p Hỏi đáp mua hàng Online
                .col-md-3.col-6.my-2
                    .item 
                        h5 Cửa hàng
                        p Đồng hồ Nam
                        p Đồng hồ Nữ
                        p Đồng hồ Thụy Sĩ
    .footer-copyright 
        .container 
            p Copyright © 2024 TimeZone.com. Design by DevDynamo

                    

                    



                            
