extends ../../layout/default.pug
include ../../mixins/list-product.pug

block main 
    .page-product 
        .container
            .row 
                .col-md-3.col-12 
                    .box-filter 
                        .filter-title Bộ lọc 
                        .filter-main 
                            h3 Mức giá 
                            .category-filter(box-filter-price) 
                                ul 
                                    li 
                                        a(href="javascript:;" data-path="0-5000000" button-filter) Dưới 5 triệu 
                                    li 
                                        a(href="javascript:;" data-path="5000000-10000000" button-filter) Từ 5 - 10 triệu 
                                    li 
                                        a(href="javascript:;" data-path="10000000-20000000" button-filter) Từ 10 - 20 triệu 
                                    li 
                                        a(href="javascript:;" data-path="20000000-30000000" button-filter) Từ 20 - 30 triệu 
                                    li 
                                        a(href="javascript:;" data-path="30000000-40000000" button-filter) Từ 30 - 40 triệu 
                                    li 
                                        a(href="javascript:;" data-path="40000000-50000000" button-filter) Từ 30 - 40 triệu 
                                    li 
                                        a(href="javascript:;" data-path="50000000-9999999999" button-filter) Trên 50 triệu
                                    li 
                                        button(button-clear) Xóa
                .col-md-9.col-12
                    h3.title #{pageTitle}
                    .filter-sort(filter-sort)
                        .inner-title Ưu tiên xem: 
                        .inner-list 
                            span(button-sort data-path="title-desc") Theo tên
                            span(button-sort data-path="price-desc") Giảm dần
                            span(button-sort data-path="price-asc") Tăng dần
                    +list-product(products)
