extends ../../layout/default.pug
include ../../mixins/box-head-1.pug
include ../../mixins/box-head-2.pug
include ../../mixins/list-blog.pug
include ../../mixins/alert.pug
include ../../mixins/list-product.pug
include ../../mixins/gallery.pug

block main
    +alert-success()
    .slider-area
        .container
            .row
                .col-sm-8.col-12 
                    .box-left 
                        h1.inner-title Chọn phong cách hoản hảo của bạn
                        p.inner-desc Hãy để tôi tạo nên phong cách hoàn hảo cho bạn
                        a(class="button button-sell-now" href="/products") Mua ngay
                .col-sm-4.col-12
                    .box-img 
                        img(src="./client/images/watch.png.webp", alt="watch.png")
    //- Sản phẩm nổi bật
    +box-head-1("Sản phẩm nổi bật")
    +list-product(productsFeatured)
    
    //- Thư viện ảnh 
    +gallerys()
    //- Sản phẩm mới ra mắt 
    +box-head-2("Sản phẩm mới ra mắt", "Khám phá dòng đồng hồ mới của chúng tôi, nơi công nghệ tiên tiến gặp gỡ thiết kế tinh tế. Chất lượng đỉnh cao, tính năng vượt trội, và phong cách độc đáo. Hãy là người tiên phong sở hữu những chiếc đồng hồ đột phá này và nâng tầm phong cách của bạn!")
    +list-product(productsNew)
    
    //- Tạp chí đồng hồ 
    +box-head-2("Tạp chí đồng hồ", "Khám phá thế giới đồng hồ với bài viết chuyên sâu, đánh giá chi tiết và xu hướng mới nhất. Tận hưởng sự kết hợp hoàn hảo giữa công nghệ và nghệ thuật trong mỗi trang tạp chí.")
    +list-blog(blogs)
    
     