mixin gallerys(gallerys)
    .gallery-area 
        .container-fluid.p-0.fix 
            .row
                .col-xl-6.col-lg-4.col-md-6.col-sm-6.mb-30  
                    .gallery-item
                       img(src="/client/images/gallery1.png.webp", alt="gallery1.png") 
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.mb-30
                    .gallery-item 
                       img(src="/client/images/gallery2.png.webp", alt="gallery1.png") 
                .col-xl-3.col-lg-4.col-md-12
                    .row.gallery-right
                        .col-lg-12.col-sm-6
                            .gallery-item 
                                img(src="/client/images/gallery3.png.webp", alt="gallery1.png") 
                        .col-lg-12.col-sm-6 
                            .gallery-item
                                img(src="/client/images/gallery4.png.webp", alt="gallery1.png") 