doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 404 Not Found
    link(rel="stylesheet" href="/client/css/404.css")

  body
    .container
      h1 404
      p Oops! The page you're looking for can't be found.
      a.back-home(href="/") Go Back Home
      img(src="/client/images/404_Error_sm.jpg", alt="404 Image")
